<div class="row expanded">

  <div class="large-4 columns">
    <h4>Specification</h4>
    <textarea rows="20" cols="30" id="specification"></textarea>
    <a href="#" class="button" id="compile">Compile</a>
  </div>
  
  <div class="large-4 columns">
    <h4>Data</h4>
    <textarea rows="20" cols="30" id="data"></textarea>
    <a href="#" class="button" id="convert">Convert</a>
  </div>
  
  <div class="large-4 columns">  
    <h4>Console</h4>  
    <div id="console" style="font-family: monospace">
    </div> 
  </div>
  
</div>

<script>
$(document).ready(function(){

	// if user is running mozilla then use it's built-in WebSocket
	window.WebSocket = window.WebSocket || window.MozWebSocket;

	var connection = new WebSocket('ws://{{ hostName }}');

	connection.onopen = function () {
		// connection is opened and ready to use
		connection.send('{{ sessionId }}');
	};

	connection.onerror = function (error) {
		// an error occurred when sending/receiving data
	};

	connection.onmessage = function (message) {
		console.log('Receiving ' + message.data.length + ' chars');
		console.log(message.data.substring(0, 30));
		// array of lines for the console
		lines = JSON.parse(message.data);
		lines.forEach(function(line, index) { 
			console.log(line);
			line = line.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
					return '&#'+i.charCodeAt(0)+';';
				});
			line = line.replace(/ /g,"&nbsp;")
			$("#console").append(line + '<br/>');
		});
	};

 	$('#compile').click(function(event) {
		event.preventDefault();
		var specification = $.trim($("#specification").val());
		if(specification) {
			var postData = {
				specification: specification
			};
			
			$.post('/compile', postData, function(data) {
				$("#console").append('Compiling ...<br/>');
			})
			.fail(function( jqxhr, textStatus, error ) {
			});
		}
    });


 	$('#convert').click(function(event) {
		event.preventDefault();
		var encodedData = $.trim($("#data").val());
		if(encodedData) {
			var postData = {
				encodedData: encodedData
			};
			
			$.post('/convert', postData, function(data) {
			})
			.fail(function( jqxhr, textStatus, error ) {
			});
		}
    });
        

});

</script>