<div class="row expanded">

  <div class="large-4 columns">
    <h4>Specification</h4>
    <textarea rows="20" cols="30" id="specification" style="font-family: monospace"></textarea>
    <a href="#" class="button" id="validate">Validate</a>
    <a href="#" class="button" id="compile">Compile</a>
  </div>
  
  <div class="large-4 columns">
    <h4>Data</h4>
    <textarea rows="20" cols="30" id="data" style="font-family: monospace"></textarea>
    <a href="#" class="button" id="convert">Convert</a>
  </div>
  
  <div class="large-4 columns">  
    <h4>Console</h4>  
    <div id="console" style="font-family: monospace; height: 500px; overflow: auto;">
    </div> 
  </div>
  
</div>

<script>
$(document).ready(function(){

	// if user is running mozilla then use it's built-in WebSocket
	window.WebSocket = window.WebSocket || window.MozWebSocket;

	var connection = new WebSocket('ws://{{ hostName }}');

	connection.onopen = function () {
		// connection is opened and ready to use
		connection.send('{{ sessionId }}');
	};

	connection.onerror = function (error) {
		// an error occurred when sending/receiving data
	};
	
	connection.onclose = function () {
		console.log('connection closed');
	};

	connection.onmessage = function (message) {
		console.log('Receiving ' + message.data.length + ' chars');
		console.log(message.data.substring(0, 50));

		consoleData = JSON.parse(message.data);
		if(consoleData.type === 'stdout' || consoleData.type === 'stderr') {
			consoleData.lines.forEach(function(line, index) { 
				console.log(line);
				line = line.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
						return '&#'+i.charCodeAt(0)+';';
					});
				line = line.replace(/ /g,"&nbsp;")
				$("#console").append(line + '<br/>');
			});
		}
		if(consoleData.type === 'exit') {
			$('#validate').removeClass("disabled");
			$('#compile').removeClass("disabled");
			$('#convert').removeClass("disabled");
		}		
	};

 	$('#validate').click(function(event) {
		event.preventDefault();
		$("#console").empty();
		$('#validate').addClass("disabled");
		$('#compile').addClass("disabled");
		var specification = $.trim($("#specification").val());
		if(specification) {
			var postData = {
				specification: specification
			};
			
			$.post('/validate', postData, function(data) {
			})
			.fail(function( jqxhr, textStatus, error ) {
			});
		}
    });

 	$('#compile').click(function(event) {
		event.preventDefault();
		$("#console").empty();
		$('#validate').addClass("disabled");
		$('#compile').addClass("disabled");
		var specification = $.trim($("#specification").val());
		if(specification) {
			var postData = {
				specification: specification
			};
			
			$.post('/compile', postData, function(data) {
			})
			.fail(function( jqxhr, textStatus, error ) {
			});
		}
    });

 	$('#convert').click(function(event) {
		event.preventDefault();
		$("#console").empty();
		$('#convert').addClass("disabled");
		var encodedData = $.trim($("#data").val());
		if(encodedData) {
			var postData = {
				encodedData: encodedData
			};
			
			$.post('/convert', postData, function(data) {
			})
			.fail(function( jqxhr, textStatus, error ) {
			});
		}
    });
        

});

</script>